#second_section .section_wrapper .col_1 {
  padding-top: 30px;
}
#second_section .section_wrapper .col_2 {
  padding-top: 30px;
}
#second_section .section_wrapper .col_3 {
  padding-top: 30px;
}

#third_section .section_wrapper .col_1 {
  padding-top: 30px;
}
#third_section .section_wrapper .col_1 .bottom {
  padding-top: 30px;
}
#third_section .section_wrapper .col_2 {
  padding-top: 30px;
}
#third_section .section_wrapper .col_2 .bottom {
  padding-top: 30px;
}
.button {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-bottom: 20px;
}
button {
  grid-column: 2/3;
  font-size: 1.07rem;
}
p {
  line-height: 1.7rem;
}

@media (min-width: 700px) {
  #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #first_section .section_wrapper .col_1 {
    grid-column: 1/2;
    padding-top: 47px;
  }
  #first_section .section_wrapper .col_2 {
    grid-column: 2/3;
    padding: 20px;
  }

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  #second_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #third_section .col_2 {
    grid-column: 2/3;
    padding-left: 30px;
  }
  #third_section .col_1 {
    padding-right: 30px;
    padding-left: 30px;
  }
  #first_section button {
    font-size: 1.07rem;
  }
}
