/* INDEX CSS */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
main {
  margin: 0px;
}

h1 {
  color: white;
  padding-top: 1rem;
  text-align: center;
}

.index_fullscreen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -2rem;
}

.index_fullscreen video {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.index_fullscreen_knapper {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.index_knap_1 {
  border: solid 2px white;
  border-radius: 1.1rem;
  padding: 5px;
}

.index_knap_2 {
  border: solid 2px white;
  border-radius: 1.1rem;
  padding: 5px;
}

#index_wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

section {
  display: flex;
  gap: 30px;
  padding: 30px;
}

section img {
  max-width: 500px;
}

section p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

#index_section_2 {
  background-color: #d3ae8a;
}

#index_section_3 {
}

#index_section_4 {
  background-color: #d3ae8a;
}
#index_section_5 {
}

.btn_section_1 {
  border: white solid 2px;
  border-radius: 5px;
  padding: 5px;
  max-width: 6rem;
  text-align: center;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 907px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    align-content: center;
    text-align: center;
  }
}

/* #index_section_1 { display: flex; gap: 30px; background-color: brown; padding: 30px; } #index_section_2 { display: flex; gap: 30px; padding: 30px; } #index_section_3 { display: flex; gap: 30px; background-color: brown; padding: 30px; } #index_section_4 { display: flex; gap: 30px; padding: 30px; } #index_section_5 { display: flex; gap: 30px; background-color: brown; padding: 30px; } */ /* #index_wrapper { font-size: 1.2rem; background-color: #ede7df; padding: 30px; padding-top: 10px; } */ /* #index_section_1 { display: grid; grid-template-columns: 1fr 1fr 1fr; margin-top: 2rem; gap: 2rem; font-size: 1.2rem; } .is1_col_right { grid-column: 2/4; } #index_section_2 { display: grid; grid-template-columns: 1fr 1fr 1fr; margin-top: 2rem; gap: 1rem; font-size: 1.2rem; } .is2_col_left { grid-column: 1/3; } #index_section_3 { display: grid; grid-template-columns: 1fr 1fr 1fr; margin-top: 2rem; gap: 1rem; font-size: 1.2rem; } .is3_col_right { grid-column: 2/4; } #index_section_4 { display: grid; grid-template-columns: 1fr 1fr 1fr; margin-top: 2rem; gap: 1rem; font-size: 1.2rem; } .is4_col_left { grid-column: 1/3; } #index_section_5 { display: grid; grid-template-columns: 1fr 1fr 1fr; margin-top: 2rem; gap: 1rem; font-size: 1,
  2rem; } .is5_col_right { grid-column: 2/4; } */ /* CSS .button-81 { background-color: #fff; border: 0 solid #e2e8f0; border-radius: 1.5rem; box-sizing: border-box; color: #0d172a; cursor: pointer; display: inline-block; font-family: "Basier circle",
  -apple-system,
  system-ui,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji"; font-size: 1.1rem; font-weight: 600; line-height: 1; padding: 1rem 1.6rem; text-align: center; text-decoration: none #0d172a solid; text-decoration-thickness: auto; transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1) ; box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25) ; user-select: none; -webkit-user-select: none; touch-action: manipulation; } .button-81:hover { background-color: #1e293b; color: #fff; } @media (min-width: 768px) { .button-81 { font-size: 1.125rem; padding: 1rem 2rem; } } */ /* Changes to consider 1. centrer logo i header 2. */ ;
