/* css til kontakt-formene */

form {
  padding-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  display: grid;
  gap: 1rem;
}

.form_felt {
  display: grid;
  gap: 2px;
}

label,
textarea,
input,
button {
  display: block;
}

/* mobile first */

#first_section .col_1 {
  background: white;
}

.top .element_1 a,
.middle .element_1 a,
.middle .element_2 a {
  color: black;
}

.middle .element_1 img,
.middle .element_2 img {
  border-radius: 500px 500px;
}

.bottom button {
  width: 250px;
  height: 50px;
}

.top,
.middle .element_1,
.middle .element_2,
h1 {
  text-align: center;
}

.bottom button,
.bottom button {
  margin: 0 auto;
}
