#first_section .section_wrapper {
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.video {
  /* grid-row: 1;
  grid-column: 1;
  grid-area: 1/1; */
  /* width: 100%;
  object-fit: cover; */
}

/* .toggle {
  cursor: pointer;
}
.bars {
  background: #0b8cbf;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}
.bars::before,
.bars::after {
  background: #0b8cbf;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}
.bars::before {
  top: 5px;
}
.bars::after {
  top: -5px;
} */
