/* img {
  display: block;

  width: auto;

  margin-left: auto;

  margin-right: auto;

  padding-top: 30px;
} */

#first_section .section_wrapper {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

/* #second_section {
  display: grid;
} */

/* .element_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  padding-top: 30px;
} */
