p {
  line-height: 2rem;
}

#first_section {
  background-color: blanchedalmond;
}

.button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  grid-column: 2/3;
}

#second_section .col_1,
#second_section .col_2,
#second_section .col_3 {
  box-sizing: border-box;
  border: solid #804826 3px;
  border-radius: 15px;
  padding: 1rem;
}

img {
  border-radius: 15px;
}

/* mobile first */

@media (max-width: 700px) {
  #second_section {
    display: grid;
  }

  .bottom button {
    margin: 0 auto;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e6ceb2;
  }

  .col_1,
  .col_2,
  .col_3 {
    margin: 1rem;
  }

  .col_2 .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* web-version */

@media (min-width: 700px) {
  /* section 1 */
  #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* section 2 */
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #second_section .section_wrapper .col_1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #second_section .section_wrapper .col_2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #second_section .section_wrapper .col_3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  /* section 3 */
  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    background-color: #e6ceb2;
  }

  #third_section .section_wrapper .col_2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .col_1,
  .col_2,
  .col_3 {
    margin: 0.5rem;
  }
}
