p {
  line-height: 2rem;
  font-weight: 500;
}

#first_section {
  background-color: blanchedalmond;
}

.button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  grid-column: 2/3;
}

#third_section .section_wrapper {
  gap: 10px;
  background-color: #e6ceb2;
}

#third_section {
  padding-top: 50px;
}

.section_wrapper {
  display: grid;
}

/* mobile first */

@media (max-width: 700px) {
  #second_section {
    display: grid;
  }

  .bottom button {
    margin: 0 auto;
  }

  .col_1,
  .col_2,
  .col_3 {
    margin: 1rem;
  }

  #third_section .col_2 .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #second_section .col_1,
  #second_section .col_2,
  #second_section .col_3 {
    padding-bottom: 3rem;
  }
}

/* web-version */

@media (min-width: 700px) {
  /* section 1 */

  #first_section p {
    padding-top: 4rem;
  }

  #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #first_section .col_2,
  #first_section .col_1 {
    padding: 30px;
  }

  /* section 2 */

  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  #second_section .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }

  #second_section {
    padding: 30px;
  }

  /* section 3 */
  #third_section .section_wrapper {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #third_section {
    font-size: 1.5rem;
  }

  #third_section .col_1 {
    padding: 30px;
  }

  #third_section .col_2 .bottom {
    padding-bottom: 30px;
  }
}
